# Environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build files
dist/
build/

# Database
*.sqlite
*.db

# Temporary files
tmp/
temp/

